<mat-card class="mt10">
    <mat-card-header>
        <mat-card-title>Todas las categorias</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <!--VER CSS PARA SOLUCIONAR PROBLEMA DE ESPACION EN MAT-CONTENT -->
        <mat-list *ngFor="let c of categorias">
            <mat-list-item>                
                <div mat-line><mat-icon mat-list-icon>category</mat-icon>{{c.titulo}}</div>
                <div mat-line>{{c.descripcion}}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <div class="text-center">
            <button mat-raised-button color="primary" routerLink="/admin/add-categoria">Agregar categoria</button>
        </div>
    </mat-card-actions>
</mat-card>


    