<mat-card class="mt10">
    <mat-card-header>
        <mat-card-title>Agregar nuevo examen</mat-card-title>        
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form (ngSubmit)="agregarExamen()">
                    <mat-form-field class="w100" appearance="fill">
                        <mat-label>Título</mat-label>
                        <input
                        required
                        [(ngModel)]="examenData.titulo" 
                        type="text"
                        name="titulo"
                        placeholder="Digite el titulo"
                        matInput>
                    </mat-form-field>
                    <mat-form-field class="w100" appearance="fill">
                        <mat-label>Descripción</mat-label>
                        <textarea
                        [(ngModel)]="examenData.descripcion" 
                        rows="8"
                        type="text"
                        name="descripcion"
                        placeholder="Digite la descripcion"
                        matInput></textarea>
                    </mat-form-field>

                    
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="w100" appearance="fill">
                                <mat-label>Puntos Máximos</mat-label>
                                <input
                                [(ngModel)]="examenData.puntosMaximos" 
                                type="text"
                                name="puntosMaximos"
                                placeholder="Digite la cantidad de puntos"
                                matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w100" appearance="fill">
                                <mat-label>Número de preguntas</mat-label>
                                <input
                                [(ngModel)]="examenData.numeroDePreguntas" 
                                type="text"
                                name="numeroDePreguntas"
                                placeholder="Digite el numero preguntas"
                                matInput>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-slide-toggle class="mt20" [checked]="false" color="primary">
                        Estado de publicación
                    </mat-slide-toggle>

                    <mat-form-field appearance="fill" class="mt20 w100">
                        <mat-label>Categorias</mat-label>
                        <mat-select 
                        name="categoria"
                        [(ngModel)]="examenData.categoria.categoriaId">
                        <mat-option *ngFor="let c of categorias" [value]="c.categoriaId">
                            {{c.titulo}}
                        </mat-option>
                    </mat-select>                        
                    </mat-form-field>

                    <div class="container text-center">
                        <button mat-raised-button color="primary">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </mat-card-content>
</mat-card>