<mat-card style="margin-left: 20px">
    <h1>Detalles del perfil</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="text-center">
                    <img 
                    src="../../../assets/default.jpg"
                    class="profile-image"
                    >
                    <div class="mt20">{{user.nombre}} {{user.apellido}}</div>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>Nombre de Usuario</td>
                                <td>{{user.nombre}}</td>
                            </tr>
                            <tr>
                                <td>ID</td>
                                <td>{{user.id}}</td>
                            </tr>
                            <tr>
                                <td>Telefono</td>
                                <td>{{user.telefono}}</td>
                            </tr>
                            <tr>
                                <td>Rol</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Estado</td>
                                <td>{{user.enabled ? "Activo" : "Inactivo"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <!--
                NOTAR EL USO DE 'd-flex justify-content-center y m-4'
                para poder centrar los botones 
            -->
            <mat-card-actions class="d-flex justify-content-center">
                <button mat-raised-button color="primary" mr10 class="m-4">Actualizar</button>
                <button mat-raised-button color="accent" ml70>Compartir</button>
            </mat-card-actions>
        </div>
    </mat-card-content>
</mat-card>
