<mat-card class="mt10" *ngFor="let e of examenes">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> {{e.titulo}}</mat-card-title>
        <mat-card-subtitle>{{e.categoria.titulo}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary">Preguntas</button>
            <button mat-stroked-button color="primary" class="ml20">Puntos maximos {{e.PuntosMaximos}}</button>
            <button mat-stroked-button color="primary" class="ml20">Preguntas {{e.numeroPreguntas}}</button>
            <!-- NOTAR COMO SE USA EL [routerLink]="direccion" en lugar de routerLink="direccion" 
                PARA MANEJAR EL id OBTENIDO
            -->
            <button mat-flat-button [routerLink]="'/admin/examen/'+e.examenId" color="accent" class="ml20">Actualizar</button>
            <button mat-flat-button color="primary" class="ml20">Intentos</button>
            <button mat-raised-button color="warn" class="ms-2" (click)="eliminarExamen(e.examenId)">Eliminar</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>

<div class="container text-center mt20">
    <button mat-raised-button color="primary" routerLink="/admin/add-examen">Agregar cuestionario</button>
</div>